body{
	background: linear-gradient(to left, #ffffff, #000000);
	background-size: 100%;
	font-family: 'Raleway', sans-serif;
}

#title1{
	font-size: 30px;
	text-align: center;
	margin: 50px auto;
}

#title2{
	font-size: 30px;
	text-align: center;
	margin: 50px auto;
}
#title3{
	font-size: 30px;
	text-align: center;
	margin: 50px auto;
}
#title4{
	padding: 10px 10px 5px 5px;
	background-color: lightgreen;
	background: linear-gradient(45deg, #8c0000 50%, #4700b2 50%);
	background-size: 250%;
	background-position: right;
	border-radius: 35px;
	margin: 35px auto;
	display: block;
	width: 23%;
	height: 7%;
	font-size: 25px;
	color: white;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.6s;
}
#title4:hover{
	background-position: left;
	color:gold;